r = document.getElementById('result')
r.innerHTML = '<div class="md"><%= render partial: "layouts/illust_tweet", locals: { illust: @illust } %></div><div class="xs"><%= render partial: "layouts/illust_tweet_xs", locals: { illust: @illust } %></div>'
