<% provide(:title, "Illust") %>

<div class="illust_page">
    <h1>#絵こころ</h1>
    <p>Twitterアカウント名・IDからTwitterページへ、Tweet本文からTweet詳細へ、画像クリックで拡大表示できます。</p>

    <div id="result">
        <div class="md">
            <%= render partial: "layouts/illust_tweet", locals: { illust: @illust } %>
        </div>
        <div class="xs">
            <%= render partial: "layouts/illust_tweet_xs", locals: { illust: @illust } %>
        </div>
    </div>

</div>
